<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"	
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"	
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">	
  <Bundle Name="NuXLInstaller" Version="2.5" Manufacturer="OpenMS Team" UpgradeCode="f8318d12-5ac3-48a2-a7dd-544d4d38ea35" Copyright="2020" AboutUrl="www.OpenMS.de">	
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />	
    <Chain>	
      <MsiPackage Id="MainPackage" SourceFile="PDNuXLNodes.msi" DisplayInternalUI="yes" Compressed="yes" Vital="yes" />	
    </Chain>	
  </Bundle>	
</Wix>
