<?xml version='1.0' encoding='windows-1252'?>

<!--  Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Thermo Scientific\Proteome Discoverer\2.5\(Standard) -->

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='OpenMS PD nodes' Manufacturer='OpenMS Team'
        Id='987329ad-a5a8-42f0-8114-7db495b978ce' 
        UpgradeCode='350726a2-ce30-4d67-8a1b-de4db1f4cd6d'
        Language='1033' Codepage='1252' Version='2.6.0'
		>
					
		<!-- elevated InstallPrivileges needed because we install into the Proteome Discoverer Folder -->
		<Package Id='*' 
			Keywords='Installer' 
			Description="OpenMS PD nodes Installer"
			InstallerVersion='300' 
			Languages='1033' 
			Compressed='yes' 
			SummaryCodepage='1252'
			InstallPrivileges="elevated"
			InstallScope="perMachine"
			/>
		
		<!-- For development purpose only. Allow to overwrite same version number. -->		
		<MajorUpgrade Schedule="afterInstallInitialize"
                DowngradeErrorMessage="A later version of [ProductName] is already installed"
                AllowSameVersionUpgrades="yes" />

		<Media Id="1" Cabinet="opennuxl.cab" EmbedCab="yes" CompressionLevel="medium" />

		<Property Id="PDROOTFOLDER">
			<RegistrySearch 
					Id="Locate_PDRootFolder"
                    Root="HKLM"
                    Key="SOFTWARE\Thermo Scientific\Proteome Discoverer\2.5"
                    Type="directory" />
		</Property>
		<!-- Set target directory to Proteome Discoverer Folder -->
		<!-- or hardcoded Value="[ProgramFiles64Folder]\Thermo\Proteome Discoverer 2.5" -->
		<CustomAction Id="SetTARGETDIR"
              Directory="TARGETDIR"
			  Value="[PDROOTFOLDER]"
              Return="check" />

		<InstallExecuteSequence>
			<Custom Action="SetTARGETDIR" After="CostFinalize" />
		</InstallExecuteSequence>

		<!-- Register nodes after installation -->
		<CustomAction Id="RegisterNodes" 
			Directory="TARGETDIR" 
			Execute="commit" 
			Impersonate="no" 
			ExeCommand="cmd.exe /c &quot;System\Release\Thermo.Magellan.Server.exe -install&quot;" 
			Return="check" />
			
		<InstallExecuteSequence>
			<Custom Action="RegisterNodes" After="PublishProduct" />
		</InstallExecuteSequence>

		<!-- Step 1: Define the directory structure -->
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='PDSystemFiles' Name='System'>
				<Directory Id='PDSystemReleaseFiles' Name='Release'/>
			</Directory>
			<Directory Id='PDToolsFiles' Name='Tools'>
				<Directory Id='PDSystemReleaseNuXLFiles' Name='NuXL'>
					<Directory Id='PDSystemReleaseNuXLBinFiles' Name='bin' />
					<Directory Id='PDSystemReleaseNuXLShareFiles' Name='share'>
						<Directory Id='PDSystemReleaseNuXLShareOpenMSFiles' Name='OpenMS'>						
						</Directory>							
					</Directory>
				</Directory>
			</Directory>
		</Directory>
		
<!-- Step 2: Add node files to your installer package -->
		<DirectoryRef Id='PDSystemReleaseFiles'>
			<Component Id='OpenMSNode' Guid='245ddb1b-3166-41d7-b429-67b90a1920df'>
				<RemoveFile Id='remove_PD.OpenMS.AdapterNodes.dll' Name='PD.OpenMS.AdapterNodes.dll' On="both"/>
				<File Id='PD.OpenMS.AdapterNodes.dll' Name='PD.OpenMS.AdapterNodes.dll' Source='SourceDir\bin\PD.OpenMS.AdapterNodes.dll' KeyPath='yes' />								
			</Component>
			<Component Id='OpenMSNodeDebugSymbols' Guid='A4Bddb1b-3166-41d7-b429-67b90a1920df'>
				<RemoveFile Id='remove_PD.OpenMS.AdapterNodes.pdb' Name='PD.OpenMS.AdapterNodes.pdb' On="both"/>
				<File Id='PD.OpenMS.AdapterNodes.pdb' Name='PD.OpenMS.AdapterNodes.pdb' Source='SourceDir\bin\PD.OpenMS.AdapterNodes.pdb' KeyPath='yes' />
			</Component>
			<Component Id='ZedGraphDLL' Guid='79abf4d4-fe37-495c-8d96-c74a22465cb3'>
				<RemoveFile Id='remove_ZedGraph_OpenMS.dll' Name='ZedGraph_OpenMS.dll' On="both"/>
				<File Id='ZedGraph_OpenMS.dll' Name='ZedGraph_OpenMS.dll' Source='SourceDir\bin\ZedGraph_OpenMS.dll' KeyPath='yes' />
			</Component>
		</DirectoryRef>
		
		<DirectoryRef Id='PDSystemReleaseNuXLBinFiles'>
			<Component Id='OpenMSDLL' Guid='45eba75f-de71-4aec-a4fc-63f9843e2dca'>
				<RemoveFile Id='remove_OpenMS.dll' Name='OpenMS.dll' On="both"/>
				<File Id='OpenMS.dll' Name='OpenMS.dll' Source='SourceDir\bin\OpenMS.dll' KeyPath='yes' />
			</Component>
			<Component Id='OpenSwathAlgoDLL' Guid='7426264e-d9d1-4cba-ac3c-b59382226a15'>
				<RemoveFile Id='remove_OpenSwathAlgo.dll' Name='OpenSwathAlgo.dll' On="both"/>
				<File Id='OpenSwathAlgo.dll' Name='OpenSwathAlgo.dll' Source='SourceDir\bin\OpenSwathAlgo.dll' KeyPath='yes' />
			</Component>
			<Component Id='SuperHirnDLL' Guid='419523d7-2283-41cb-93d4-e1a2e4166680'>
				<RemoveFile Id='remove_SuperHirnDLL.dll' Name='SuperHirn.dll' On="both"/>
				<File Id='SuperHirn.dll' Name='SuperHirn.dll' Source='SourceDir\bin\SuperHirn.dll' KeyPath='yes' />
			</Component>
			<Component Id='OpenMSGUIDLL' Guid='09a6e422-e074-477a-b3d1-0b576d470e77'>
				<RemoveFile Id='remove_OpenMSGUI.dll' Name='OpenMS_GUI.dll' On="both"/>
				<File Id='OpenMS_GUI.dll' Name='OpenMS_GUI.dll' Source='SourceDir\bin\OpenMS_GUI.dll' KeyPath='yes' />
			</Component>			
			<Component Id='OpenNuXLEXE' Guid='285d82a4-7904-4f0f-867f-fd80c7cd0e68'>
				<RemoveFile Id='remove_OpenNuXL.exe' Name='OpenNuXL.exe' On="both"/>
				<File Id='OpenNuXL.exe' Name='OpenNuXL.exe' Source='SourceDir\bin\OpenNuXL.exe' KeyPath='yes' />
			</Component>
			<Component Id='PercolatorAdapterEXE' Guid='097bbb20-9f91-454e-9a62-f4872e28cdb1'>
				<RemoveFile Id='remove_PercolatorAdapter.exe' Name='PercolatorAdapter.exe' On="both"/>
				<File Id='PercolatorAdapter.exe' Name='PercolatorAdapter.exe' Source='SourceDir\bin\PercolatorAdapter.exe' KeyPath='yes' />
			</Component>
			<Component Id='Qt5CoreDLL' Guid='55eba75f-de71-4aec-a4fc-63f4843e2dca'>
				<RemoveFile Id='remove_Qt5Core.dll' Name='Qt5Core.dll' On="both"/>
				<File Id='Qt5Core.dll' Name='Qt5Core.dll' Source='SourceDir\bin\Qt5Core.dll' KeyPath='yes' />
			</Component>				
			<Component Id='Qt5NetworkDLL' Guid='A5eba75f-de71-4aec-a4fc-63f4843e2dca'>
				<RemoveFile Id='remove_Qt5Network.dll' Name='Qt5Network.dll' On="both"/>
				<File Id='Qt5Network.dll' Name='Qt5Network.dll' Source='SourceDir\bin\Qt5Network.dll' KeyPath='yes' />
			</Component>			
			<Component Id='percolator' Guid='63f62d47-e8b5-47a3-a920-55c9bbb3245b'>
				<RemoveFile Id='remove_percolator.exe' Name='percolator.exe' On="both"/>
				<File Id='percolator.exe' Name='percolator.exe' Source='SourceDir\bin\percolator.exe' KeyPath='yes' />
			</Component>								
		</DirectoryRef>
		
<!-- Step 3: Tell WiX to install the files -->		
		<Feature Id='Complete' Level='1'>
			<ComponentRef Id='OpenMSNode' />
			<ComponentRef Id='OpenMSNodeDebugSymbols' />
			<ComponentRef Id='ZedGraphDLL' />
			<ComponentRef Id='OpenMSDLL' />
			<ComponentRef Id='OpenMSGUIDLL' />
			<ComponentRef Id='OpenSwathAlgoDLL' />
			<ComponentRef Id='SuperHirnDLL' />
			<ComponentRef Id='Qt5CoreDLL' />
			<ComponentRef Id='Qt5NetworkDLL' />
			<ComponentRef Id='OpenNuXLEXE' />
			<ComponentRef Id='PercolatorAdapterEXE' />
			<ComponentRef Id='percolator' />
<!-- This will include the heat generated components (both wix files need to be passed to candle) -->		
			<ComponentGroupRef Id='OpenMSShareComponents' />
		</Feature>	
		
    </Product>
</Wix>
